body {
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 0 0;
}

.qr-code-container {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  width: 320px;
  height: 499px;
  background-color: #ffffff;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.05);
}

.qr-code-image {
  border-radius: 10px;
  width: 288px;
  height: 288px;
  margin-bottom: 24px;
}

.qr-code-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
  color: #1f314f;
  margin: 0 16px 16px 16px;
}

.qr-code-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #68778d;
  margin: 0 16px 0 16px;
}
